<nav class=" uk-navbar-container " uk-navbar>

  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
        <li><a routerLink="/">HOME</a></li> 
     
        <li>
            <a href="/">SELL</a>
            <!-- <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="/"><h2 class="uk-heading-itm1">Itm1</h2></a></li>
                    <li><a href="/"><h2 class="uk-heading-itm2">Itm2</h2></a></li> 
                    <li><a href="/"><h2 class="uk-heading-itm3">Itm3</h2></a></li>
                    <li><a routerLink="/"><h2 class="uk-heading-itm4">Itm4</h2></a></li>
                </ul>
            </div> -->
        </li> 
     <li><a href="/">BUY</a></li>  
        <!-- <li>
            <a routerLink="/">CATEGORIES</a>
            <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/">ALLPRODUCTS</a></li>
                        <li><a href="/">MOBILES</a></li> 
                        <li><a href="/">ELECTRONICS</a></li>
                        <li><a routerLink="/">CAR</a></li>
                        <li><a routerLink="/">BIKE</a></li>
                    </ul>
            </div>
        </li> -->
         <li><a routerLink="About/">ABOUT</a></li> 
    </ul>

</div> 
<div class="uk-navbar-right  ">
    <ul class="uk-navbar-nav"> 
        <li><a routerLink="/login">login</a></li>
        <li><a routerLink="/register">register</a></li>
    </ul>
</div>

</nav> 

<!-- <div class="navbar">
<ul class="items">
    <li><a href="">Home</a></li>
    <li><a href="">Buy</a></li>
    <li><a href="">Sell</a></li>
    <li><a href="">About</a></li>
</ul>

<ul class="auth">
    <li><a routerLink="/login">login</a></li>
    <li><a routerLink="/register">register</a></li>
</ul>
</div> -->