<mat-toolbar>
    <button mat-button routerLink="/">Auctions</button>
    <button mat-button routerLink="/sell">Sell</button>
    <button mat-button routerLink="/">Buy</button>
    <button mat-button routerLink="/about">About</button>

    <span style = "flex: 1 1 auto"></span>
    <button mat-button *ngIf="!authService.isAuthenticated" routerLink="/register">Register</button>
    <button mat-button *ngIf="!authService.isAuthenticated" routerLink="/login">Login</button>
    <button mat-button *ngIf="authService.isAuthenticated" (click)="authService.logout()" routerLink="/">Logout</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
 
  <!-- //<app-navbar></app-navbar> -->
  <router-outlet></router-outlet> 