 <div class="content">
  <img src="assets\images\auction (1).jpg">
</div> 




<!--select and  search  -->
<!-- Load icon library -->
<div class="form-container">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <!-- The form -->
  <form class="search-form" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">
          <i class="fa fa-search"></i>
          Submit
      </button>
  </form>
</div>




<!-- countdown and watches -->

<div style="width: 90%; margin: auto; border: 0.5px solid;" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="assets\images\watches.jpeg" style="">
      </div>
      <div class ="" style="background-color: black; color: white">
          <div class="uk-card-body">
              <h3 class="uk-card-title uk-text-center">WATCHES ONLINE</h3>
              <p class="uk-text-center">26 NOV 2018 - 06 DEC 2018</p>
              
              <div class="uk-grid-small uk-child-width-auto uk-text-center" style="display: flex; justify-content: center;" uk-grid uk-countdown="date: 2018-12-21T17:59:26+00:00">
                      <div>
                          <div class="uk-countdown-number uk-countdown-days" style="font-size: 50px"></div>
                          <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Days</div>
                      </div>
                      <div>
                          <div class="uk-countdown-number uk-countdown-hours " style="font-size: 50px"></div>
                          <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Hours</div>
                      </div>
                      <div>
                          <div class="uk-countdown-number uk-countdown-minutes" style="font-size: 50px"></div>
                          <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Minutes</div>
                      </div>
                      <div>
                          <div class="uk-countdown-number uk-countdown-seconds" style="font-size: 50px"></div>
                          <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Seconds</div>
                      </div>
                  </div>
                  
                  <div class="bot" style="width: 100%; text-align: center">
                          <button style="border-radius: 5px" class="uk-button  uk-width-1-2 uk-margin-large-top"><a style="font-size: 1.3rem; text-decoration: none" routerLink="/login">BID NOW</a></button> 
                  </div>
          </div>
      </div>
  </div> 

  <div style="width: 90%;
  margin: auto;
  border: 0.5px solid;" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
              <img src="assets\images\car.jpeg" style="width: 100%;">
          </div>
          <div class ="" style="background-color: black; color: white">
              <div class="uk-card-body">
                  <h3 class="uk-card-title uk-text-center">WATCHES ONLINE</h3>
                  <p class="uk-text-center">26 NOV 2018 - 06 DEC 2018</p>
                  
                  <div class="uk-grid-small uk-child-width-auto uk-text-center" style="display: flex; justify-content: center;" uk-grid uk-countdown="date: 2018-12-21T17:59:26+00:00">
                          <div>
                              <div class="uk-countdown-number uk-countdown-days" style="font-size: 50px"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Days</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-hours " style="font-size: 50px"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Hours</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-minutes" style="font-size: 50px"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Minutes</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-seconds" style="font-size: 50px"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s" >Seconds</div>
                          </div>
                      </div>
                      
                      <div class="bot" style="width: 100%; text-align: center">
                              <button style="border-radius: 5px" class="uk-button  uk-width-1-2 uk-margin-large-top"><a style="font-size: 1.3rem; text-decoration: none" routerLink="/login">BID NOW</a></button> 
                      </div>
              </div>
          </div>
      </div> 

<!-- countdown and watches -->
<!-- <div class=" uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
          <img src="assets\images\watches.jpeg" alt="">
      </div>
      <div class="">
          <div class="uk-card-body uk-light uk-background-secondary uk-padding">

                  <h1 class="">WATCHES ONLINE </h1>
                  <h3>26 NOV 2018 - 06 DEC 2018</h3>
                  <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-20T07:22:33+00:00">
                          <div>
                              <div class="uk-countdown-number uk-countdown-days"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-hours"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-minutes"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                          </div>
                          <div>
                              <div class="uk-countdown-number uk-countdown-seconds"></div>
                              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                          </div>
                      </div>
                  <div class="uk-margin">
                          <button class="uk-button  uk-width-1-2 uk-margin-large-bottom"><h3 class="">BID NOW</h3></button> 
                      </div>
          </div>
      </div>
  </div>    -->


<!--cars-->

<!-- countdowncars-->
<!-- <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
              <img src="assets\images\cars.jpeg" alt="">
          </div>
          <div class="one">
              <div class="uk-card-body">
                      <h1 class="">(RED) ONLINE</h1>
                      <h3>26 NOV 2018 - 06 DEC 2018</h3>
                      <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-16T07:22:33+00:00">
                              <div>
                                  <div class="uk-countdown-number uk-countdown-days"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                              </div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-hours"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                              </div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-minutes"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                              </div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-seconds"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                              </div>
                          </div>
                      <div class="uk-margin">
                              <button class="uk-button uk-button-primary uk-width-1-2 uk-margin-large-bottom"><h3>BID NOW</h3></button>
                          </div>
              </div>
          </div>
      </div> -->

<!--three card -->
<!-- <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>

              <div>
                  <div class="uk-card uk-card-default uk-card-body">
                      <h3 class="uk-card-title">WATCHES ONLINE</h3>
                      <p>26 NOV 2018 - 06 DEC 2018</p>
                      <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-08T07:22:33+00:00">
                              <div>
                                  <div class="uk-countdown-number uk-countdown-days"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                              </div>
                              <div class="">:</div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-hours"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                              </div>
                              <div class="">:</div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-minutes"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                              </div>
                              <div class="">:</div>
                              <div>
                                  <div class="uk-countdown-number uk-countdown-seconds"></div>
                                  <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                              </div>
                          </div><img data-src="assets/images/watches.jpeg" width="1800" height="1200" alt="" uk-img>

                      <div class="uk-margin">
                              <button class="uk-button uk-button-primary uk-width-1-2 uk-margin-large-bottom"><h3>BID NOW</h3></button>
                          </div>
                  </div>
              </div>
              <div>
                  <div class="uk-card uk-card-primary uk-card-body">
                      <h3 class="uk-card-title">Primary</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
              <div>
                  <div class="uk-card uk-card-secondary uk-card-body">
                      <h3 class="uk-card-title">Secondary</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
              </div>
          </div> -->